.viki-btn {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border-width: $btn-border-width;
  margin: 8px;
  outline: 0;
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $border-radius
  );
  box-shadow: $btn-box-shadow;
  transition: $btn-transition;
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none; // 不接受鼠标事件
    }
  }
  &:focus {
    outline: 0;
  }
}

.viki-btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $border-radius-lg
  );
}

.viki-btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $border-radius-sm
  );
}

.viki-btn-primary {
  @include button-style($primary, $primary, $white);
}

.viki-btn-danger {
  @include button-style($danger, $danger, $white);
}

.viki-btn-default {
  @include button-style(
    $white,
    $gray-400,
    $body-color,
    $white,
    $primary,
    $primary
  );
}

.viki-btn-link {
  font-weight: $font-weight-normal;
  color: $btn-link-color;
  text-decoration: $link-decoration;
  box-shadow: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  &:hover {
    color: $btn-link-hover-color;
    text-decoration: none;
  }
  &:focus,
  &.focus {
    text-decoration: none;
    box-shadow: none;
  }
  &:disabled,
  &.disabled {
    text-decoration: none;
    box-shadow: none;
  }
}
