.viki-select {
  position: relative;
  .viki-select-dropdown {
    position: absolute;
    left: 0;
    top: $select-dropdown-top;
    z-index: 10;
    background: white;
    border: $select-dropdown-border-color $select-dropdown-border-width solid;
    width: 100%;
    list-style: none;
    padding: $select-dropdown-padding 0;
    border-radius: $select-dropdown-border-radius;
    box-shadow: $box-shadow-sm;
    .viki-select-options {
      cursor: pointer;
      padding: $select-options-padding;
      &:hover {
        color: $primary;
      }
    }
    .viki-select-options-is-select {
      color: $primary;
      .viki-icon {
        float: right;
      }
    }
    .viki-select-options-is-high-linght {
      background-color: $gray-100;
    }
  }
}

.viki-select-lg {
  .viki-select-dropdown {
    top: $select-dropdown-top-lg;
  }
}

.viki-select-sm {
  .viki-select-dropdown {
    top: $select-dropdown-top-sm;
  }
}
