.viki-upload-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.viki-upload-input {
  width: 100%;
  display: inline-block;
}

.viki-uploader-dragger {
  background: $gray-100;
  border: 1px dashed $gray-300;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  height: 180px;
  text-align: center;
  &:hover {
    border: 1px dashed $primary;
  }
  &.is-dragover {
    border: 2px dashed $primary;
    background: rgba($primary, 0.2);
  }
}

.viki-upload-list-item {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  font-size: 14px;
  line-height: 1.8;
  margin-top: 5px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 200px;
  position: relative;
  &:first-child {
    margin-top: 10px;
  }
  .file-name {
    margin-left: 5px;
    margin-right: 40px;
    .file-text {
      margin-left: 20px;
      display: inline-block;
      max-width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    svg {
      margin-right: 8px;
      color: $gray-500;
    }
    .viki-icon {
      position: absolute;
      top: 2px;
    }
  }
  .file-name-fail {
    color: $danger;
  }
  .file-name-success {
    color: $success;
  }
  .file-status {
    display: block;
    position: absolute;
    right: 5px;
    top: 2px;
    line-height: inherit;
  }
  .file-actions {
    display: none;
    position: absolute;
    right: 7px;
    top: 0;
    line-height: inherit;
    cursor: pointer;
    color: $secondary;
    &:hover {
      color: $primary;
    }
  }
  &:hover {
    background-color: $gray-200;
    .file-status {
      display: none;
    }
    .file-actions {
      display: block;
    }
  }
}
