.viki-message {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  padding: 8px 16px;
  border-radius: 4px;
  transform: translate3d(-50%, -5px, 0);
  > .viki-message-icon{
    margin-right:16px;
  }
  > .viki-message-closed-icon{
    display: inline-block;
    cursor: pointer;
    color: lighten($gray-700, 50%);
    margin-left:16px;
  }
}
@for $i from 1 through 120 {
  .viki-message-animation-#{$i} {
    animation: move #{$i}s;
  }
}

.viki-message-success {
  background: lighten($success, 50%);
  color: $success;
}
.viki-message-error {
  background: lighten($danger, 40%);
  color: $danger;
}
.viki-message-info {
  background: lighten($info, 50%);
  color: $info;
}
.viki-message-warning {
  background: lighten($warning, 40%);
  color: $warning;
}

@keyframes move {
  0%,
  100% {
    transform: translate3d(-50%, -5px, 0);
    opacity: 0;
  }
  10%,
  90% {
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
}
